.App {
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.font-link {

  font-family: 'Montserrat', sans-serif;
}

.link-button {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 400;
  white-space: nowrap;
  border: solid;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.link-button:hover {
  background: #2c2c54;
  transition: all 300ms ease-in-out;
}

.learn-more-button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background: none;
  outline: #fff;
  outline-width: 2px;
  border: #fff;
  border-width: 2px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  transition: all 300ms ease-in-out;
}